<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>back</string>
		<string>pack</string>
		<string>black</string>
		<string>quack</string>
		<string>snack</string>
		<string>stack</string>
		<string>track</string>
		<string>attack</string>
		<string>crack</string>
		<string>tack</string>
	</array>
	<key>2</key>
	<array>
		<string>fail</string>
		<string>hale</string>
		<string>mail</string>
		<string>male</string>
		<string>nail</string>
		<string>pail</string>
		<string>tail</string>
		<string>sail</string>
		<string>sale</string>
		<string>snail</string>
		<string>tale</string>
		<string>whale</string>
		<string>email</string>
		<string>jail</string>
	</array>
	<key>3</key>
	<array>
		<string>air</string>
		<string>bear</string>
		<string>pear</string>
		<string>care</string>
		<string>chair</string>
		<string>dare</string>
		<string>fair</string>
		<string>hair</string>
		<string>wear</string>
		<string>scare</string>
		<string>share</string>
		<string>square</string>
		<string>there</string>
		<string>where</string>
		<string>compare</string>
		<string>prepare</string>
		<string>repair</string>
		<string>unfair</string>
	</array>
	<key>4</key>
	<array>
		<string>ache</string>
		<string>bake</string>
		<string>fake</string>
		<string>make</string>
		<string>cake</string>
		<string>take</string>
		<string>brake</string>
		<string>flake</string>
		<string>quake</string>
		<string>steak</string>
		<string>snake</string>
		<string>awake</string>
	</array>
	<key>5</key>
	<array>
		<string>all</string>
		<string>ball</string>
		<string>call</string>
		<string>crawl</string>
		<string>fall</string>
		<string>hall</string>
		<string>mall</string>
		<string>small</string>
		<string>tall</string>
		<string>doll</string>
	</array>
	<key>6</key>
	<array>
		<string>an</string>
		<string>can</string>
		<string>fan</string>
		<string>man</string>
		<string>pan</string>
		<string>ran</string>
		<string>tan</string>
		<string>van</string>
		<string>scan</string>
		<string>span</string>
		<string>began</string>
	</array>
	<key>7</key>
	<array>
		<string>and</string>
		<string>band</string>
		<string>brand</string>
		<string>canned</string>
		<string>faned</string>
		<string>grand</string>
		<string>hand</string>
		<string>land</string>
		<string>sand</string>
		<string>stand</string>
	</array>
	<key>8</key>
	<array>
		<string>cap</string>
		<string>gap</string>
		<string>map</string>
		<string>nap</string>
		<string>clap</string>
		<string>snap</string>
		<string>trap</string>
		<string>wrap</string>
		<string>lap</string>
	</array>
	<key>9</key>
	<array>
		<string>are</string>
		<string>bar</string>
		<string>car</string>
		<string>far</string>
		<string>jar</string>
		<string>tar</string>
		<string>star</string>
		<string>scar</string>
		<string>guitar</string>
		<string>gar</string>
	</array>
	<key>10</key>
	<array>
		<string>at</string>
		<string>bat</string>
		<string>fat</string>
		<string>mat</string>
		<string>rat</string>
		<string>sat</string>
		<string>flat</string>
		<string>that</string>
		<string>splat</string>
		<string>hat</string>
		<string>cat</string>
		<string>chat</string>
	</array>
	<key>11</key>
	<array>
		<string>ate</string>
		<string>date</string>
		<string>fate</string>
		<string>mate</string>
		<string>late</string>
		<string>gate</string>
		<string>rate</string>
		<string>wait</string>
		<string>great</string>
		<string>plate</string>
		<string>skate</string>
		<string>state</string>
		<string>straight</string>
		<string>trait</string>
		<string>weight</string>
		<string>create</string>
		<string>eight</string>
		<string>hate</string>
	</array>
	<key>12</key>
	<array>
		<string>bed</string>
		<string>dead</string>
		<string>fed</string>
		<string>head</string>
		<string>led</string>
		<string>read</string>
		<string>red</string>
		<string>said</string>
		<string>bread</string>
		<string>fled</string>
		<string>spread</string>
		<string>thread</string>
		<string>instead</string>
		<string>sled</string>
	</array>
	<key>13</key>
	<array>
		<string>bell</string>
		<string>fell</string>
		<string>sell</string>
		<string>well</string>
		<string>yell</string>
		<string>shell</string>
		<string>smell</string>
		<string>spell</string>
		<string>farewell</string>
		<string>hotel</string>
		<string>motel</string>
		<string>cell</string>
		<string>hell</string>
		<string>tell</string>
	</array>
	<key>14</key>
	<array>
		<string>bore</string>
		<string>before</string>
		<string>door</string>
		<string>floor</string>
		<string>for</string>
		<string>more</string>
		<string>nor</string>
		<string>or</string>
		<string>shore</string>
		<string>store</string>
		<string>war</string>
		<string>drawer</string>
		<string>pore</string>
		<string>roar</string>
		<string>sore</string>
	</array>
	<key>15</key>
	<array>
		<string>bet</string>
		<string>get</string>
		<string>jet</string>
		<string>let</string>
		<string>met</string>
		<string>pet</string>
		<string>set</string>
		<string>vet</string>
		<string>wet</string>
		<string>yet</string>
		<string>threat</string>
		<string>reset</string>
		<string>upset</string>
		<string>debt</string>
		<string>net</string>
	</array>
	<key>16</key>
	<array>
		<string>bin</string>
		<string>in</string>
		<string>chin</string>
		<string>pin</string>
		<string>tin</string>
		<string>thin</string>
		<string>skin</string>
		<string>begin</string>
		<string>within</string>
		<string>been</string>
		<string>fin</string>
		<string>inn</string>
		<string>spin</string>
		<string>win</string>
	</array>
	<key>17</key>
	<array>
		<string>king</string>
		<string>ring</string>
		<string>sing</string>
		<string>wing</string>
		<string>bring</string>
		<string>spring</string>
		<string>sting</string>
		<string>string</string>
		<string>swing</string>
		<string>thing</string>
		<string>ping</string>
	</array>
	<key>18</key>
	<array>
		<string>bit</string>
		<string>fit</string>
		<string>hit</string>
		<string>it</string>
		<string>kit</string>
		<string>pit</string>
		<string>sit</string>
		<string>knit</string>
		<string>quit</string>
		<string>slit</string>
		<string>spit</string>
		<string>split</string>
		<string>admit</string>
		<string>permit</string>
	</array>
	<key>19</key>
	<array>
		<string>bite</string>
		<string>kite</string>
		<string>bright</string>
		<string>fight</string>
		<string>fright</string>
		<string>night</string>
		<string>might</string>
		<string>right</string>
		<string>tight</string>
		<string>white</string>
		<string>write</string>
		<string>delight</string>
		<string>tonight</string>
		<string>height</string>
		<string>site</string>
		<string>sprite</string>
	</array>
	<key>20</key>
	<array>
		<string>go</string>
		<string>low</string>
		<string>row</string>
		<string>sew</string>
		<string>toe</string>
		<string>blow</string>
		<string>dough</string>
		<string>flow</string>
		<string>know</string>
		<string>grow</string>
		<string>show</string>
		<string>slow</string>
		<string>snow</string>
		<string>ago</string>
		<string>owe</string>
		<string>so</string>
	</array>
	<key>21</key>
	<array>
		<string>dot</string>
		<string>got</string>
		<string>hot</string>
		<string>lot</string>
		<string>not</string>
		<string>pot</string>
		<string>rot</string>
		<string>bought</string>
		<string>fought</string>
		<string>knot</string>
		<string>taught</string>
		<string>shot</string>
		<string>spot</string>
		<string>caught</string>
		<string>trot</string>
	</array>
	<key>22</key>
	<array>
		<string>bound</string>
		<string>pound</string>
		<string>around</string>
		<string>drowned</string>
		<string>frowned</string>
		<string>ground</string>
		<string>found</string>
		<string>mound</string>
		<string>round</string>
		<string>sound</string>
		<string>wound</string>
	</array>
	<key>23</key>
	<array>
		<string>cub</string>
		<string>rub</string>
		<string>club</string>
		<string>sub</string>
		<string>tub</string>
		<string>stub</string>
		<string>scrub</string>
		<string>shrub</string>
		<string>pub</string>
		<string>hub</string>
	</array>
	<key>24</key>
	<array>
		<string>bun</string>
		<string>fun</string>
		<string>gun</string>
		<string>one</string>
		<string>run</string>
		<string>son</string>
		<string>sun</string>
		<string>ton</string>
		<string>won</string>
		<string>done</string>
		<string>none</string>
		<string>spun</string>
	</array>
	<key>25</key>
	<array>
		<string>brain</string>
		<string>contain</string>
		<string>explain</string>
		<string>gain</string>
		<string>main</string>
		<string>pain</string>
		<string>plain</string>
		<string>remain</string>
		<string>train</string>
		<string>chain</string>
		<string>complain</string>
		<string>rain</string>
		<string>stain</string>
		<string>vain</string>
		<string>rain</string>
	</array>
	<key>26</key>
	<array>
		<string>came</string>
		<string>claim</string>
		<string>game</string>
		<string>name</string>
		<string>same</string>
		<string>aim</string>
		<string>blame</string>
		<string>flame</string>
		<string>frame</string>
		<string>shame</string>
	</array>
	<key>27</key>
	<array>
		<string>crash</string>
		<string>flash</string>
		<string>cash</string>
		<string>clash</string>
		<string>dash</string>
		<string>smash</string>
		<string>rash</string>
		<string>splash</string>
		<string>trash</string>
	</array>
	<key>28</key>
	<array>
		<string>caw</string>
		<string>draw</string>
		<string>law</string>
		<string>paw</string>
		<string>saw</string>
		<string>straw</string>
		<string>claw</string>
		<string>flaw</string>
		<string>raw</string>
		<string>thaw</string>
		<string>jaw</string>
	</array>
	<key>29</key>
	<array>
		<string>away</string>
		<string>day</string>
		<string>lay</string>
		<string>may</string>
		<string>pay</string>
		<string>play</string>
		<string>say</string>
		<string>stay</string>
		<string>they</string>
		<string>way</string>
		<string>bay</string>
		<string>clay</string>
		<string>delay</string>
		<string>grey</string>
		<string>hay</string>
		<string>obey</string>
		<string>ray</string>
		<string>tray</string>
		<string>weigh</string>
	</array>
	<key>30</key>
	<array>
		<string>eat</string>
		<string>complete</string>
		<string>heat</string>
		<string>repeat</string>
		<string>seat</string>
		<string>street</string>
		<string>sweet</string>
		<string>beat</string>
		<string>cheat</string>
		<string>greet</string>
		<string>meat</string>
		<string>receipt</string>
		<string>sheet</string>
		<string>treat</string>
	</array>
	<key>31</key>
	<array>
		<string>best</string>
		<string>rest</string>
		<string>suggest</string>
		<string>test</string>
		<string>west</string>
		<string>arrest</string>
		<string>guest</string>
		<string>nest</string>
		<string>request</string>
		<string>breast</string>
		<string>chest</string>
		<string>invest</string>
	</array>
	<key>32</key>
	<array>
		<string>dice</string>
		<string>ice</string>
		<string>mice</string>
		<string>nice</string>
		<string>price</string>
		<string>rice</string>
		<string>slice</string>
		<string>spice</string>
		<string>twice</string>
		<string>vice</string>
	</array>
	<key>33</key>
	<array>
		<string>brick</string>
		<string>chick</string>
		<string>kick</string>
		<string>lick</string>
		<string>pick</string>
		<string>quick</string>
		<string>sick</string>
		<string>stick</string>
		<string>thick</string>
		<string>tick</string>
		<string>trick</string>
	</array>
	<key>34</key>
	<array>
		<string>bride</string>
		<string>decide</string>
		<string>divide</string>
		<string>hide</string>
		<string>ride</string>
		<string>side</string>
		<string>wide</string>
		<string>guide</string>
		<string>inside</string>
		<string>pride</string>
		<string>slide</string>
		<string>tide</string>
	</array>
	<key>35</key>
	<array>
		<string>bright</string>
		<string>fight</string>
		<string>light</string>
		<string>might</string>
		<string>night</string>
		<string>quite</string>
		<string>right</string>
		<string>slight</string>
		<string>unite</string>
		<string>white</string>
		<string>write</string>
		<string>bite</string>
		<string>height</string>
		<string>invite</string>
		<string>polite</string>
		<string>tonight</string>
	</array>
	<key>36</key>
	<array>
		<string>bill</string>
		<string>fill</string>
		<string>hill</string>
		<string>ill</string>
		<string>kill</string>
		<string>skill</string>
		<string>still</string>
		<string>till</string>
		<string>until</string>
		<string>will</string>
		<string>spill</string>
		<string>pill</string>
	</array>
	<key>37</key>
	<array>
		<string>fine</string>
		<string>line</string>
		<string>mine</string>
		<string>shine</string>
		<string>wine</string>
		<string>dine</string>
		<string>nine</string>
		<string>pine</string>
		<string>vine</string>
	</array>
	<key>38</key>
	<array>
		<string>block</string>
		<string>rock</string>
		<string>stock</string>
		<string>walk</string>
		<string>chalk</string>
		<string>clock</string>
		<string>knock</string>
		<string>lock</string>
		<string>shock</string>
		<string>mock</string>
	</array>
</dict>
</plist>
